.popup{
	position:absolute;
	left:10px;
	top:10px;
	background-color: grey;
}

.spacer{
	width:2px;
}

.window{
	position: absolute;
	left:25%;
	top:25%;
	width:50%;
}

#download_link_popup > .content > div {
	height: 150px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 20px;
}

#download_link_popup > .content > div > div > input {
	width: 500px;
	padding-left: 20px;
}

/*#browsing{
	width:600px;
}
.files_item{
	height: 40px;
	width: 600px;
}

.files_item > * {
	display: inline-block;
}

.files_item > span{
	width: 80%;
	line-height: 40px;
}

.files_item > input{
	width:100px;
}*/