.window{
	background-color: white;
	border-color: #ef4135;
	border-style: solid;
}

.window > .caption{
	display: inline-block;
	width: 100%;
}
.window > .caption > .title{
	width: 90%;
	display: inline-block;
}

.window > *{
	padding-bottom: 3px;
	padding-left: 3px;
}
.window > .content {
	position:relative;
}
.window > .footer{
	position: relative;
}

.window > .footer > .button{

}

.text{
	display: inline-block;
}

.text > input{
	display: inline-block;
}

.icon-home {
	font-size: 1.4em;
	line-height: 1.7em;
	vertical-align: bottom;
}

.browseable{
	cursor: pointer;
}

th.browse-plus{
	width:50px;
}
th.browse-action{
	width: 200px;
}
th.browse-type{
	width: 50px;
}
th.browse-kind{
	width: 50px;
}
th.browse-mdate{
	width: 200px;
}
th.browse-size{
	width:100px;
}